/* Logout Button */
.btnLogout button {
  background: linear-gradient(90deg, #d4af37, #8b6f47);
  width: 80px;
  padding: 8px 16px;
  border: none;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
